*{
  box-sizing: border-box;
}

.row1{
  width:350px;
  height:335px;
  margin-left:50px;
  margin-bottom: 30px;
  display:block;
  float:left;
}

.row2{
  width:350px;
  height:335px;
  margin-left:50px;
  margin-bottom: 30px;
  float:left;
}


.row3{
  width:350px;
  height:335px;
  margin-left:50px;
  margin-bottom: 30px;
  float:left;
}


body {
  font-size: 16px;
  color: black;
  background-color: white;
  font-family: sans-serif;
  margin-right: 20px;
}

section {
  background-color: grey;
  width: 32%;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0.3%;
  border: 1px solid black;
  position: relative;
}
section div {
  position: absolute;
  top: 0;
  right: 0;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  font-size: 1.75em;
  width: 150px;
  text-align: center;
}

 p {
  padding-top: 20px;
  font-size: 1.25em;
  text-align: justify;
}

/********** Large devices only **********/
@media (min-width: 992px) {
  .col-md-4 {
    width: 32%;
  }
}


/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-sm-6 {
    width: 49.2%;
  }
  .col-sm-12 {
    width: 99%;
  }
}



/********** Small devices only **********/
@media (min-width: 767px) {
  .col-xs-12 {
    width: 100%;
  }
}


/** HEADER **/
#header-nav {
  background-color: grey;
  border-color: black;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { 
  font-family: serif;
  color: black;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: black;
  background-color: white;
  text-align: center;
}
#nav-list a:hover {
  background: grey;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */
